
    <footer>
      <p>Siu Soan + AP University College 2017-2018</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://siusoan.github.io/Parallax/Parallax.js"></script>
    <script src="/js/custom-script.js"></script>
  </body>
</html>
