<!doctype html>
<html>
	<head>
		<title>Welcome to Newlie</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/custom-styling.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
	      <a id="Newlie homepage"href="/"><img src="img/newlie_logo_100x132.png" alt="Newlie logo"></a>
	      <nav>
						<div><i class="fa fa-bars hamburger" aria-hidden="true"></i></div>
						<div >
							<a class="navlink hidden" href="">Store</a>
		          <a class="navlink hidden" href="">News</a>
		          <a class="navlink hidden" href="">About</a>
							<a class="navlink hidden" href="">Support</a>
	        	</div>
	      </nav>
				<div class="tray">
							<i class="fa fa-search" aria-hidden="true"></i>
							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
							<button class="newlie-button">Sign In</button>
				</div>
	  </header>
