<!doctype html>
<html>
	<head>
		<title>Digital Corridor</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/css/custom-styling.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
	      <h1><a href="/">DIGITAL CORRIDOR</a></h1>
	      <nav>
						<div id="hamburger-icon"><i class="fa fa-bars hamburger" aria-hidden="true"></i></div>
						<div id="navmenu">
							<a class="navlink hidden" href="">About Me</a>
		          <a class="navlink hidden" href="">About AP</a>
		          <a class="navlink hidden" href="">My Posts</a>
	        	</div>
	      </nav>
	  </header>
