<% include header %>
  <main>
      <div class="featured"></div>
      <div class="spotlight">
          <h2>In the spotlight</h2>
          <div class="spotlight-items">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
          </div>

      </div>
      <div class="popular skew">
          <div class="popular-column unskew">
              <p>Lorem ipsum</p>
          </div>
          <div class="popular-column unskew">
              <p>Lorem ipsum</p>
          </div>
      </div>
      <div class="subscribe">
          <div class="subscribe-column">
              <h2>Subscribe to our newsletter!</h2>
              <p>Join other subscribers and get frequent updates on game releases, Newslie offers and more!</p>
              <input type="email" placeholder="Your email address...">
          </div>
          <div class="subscribe-column">
              <p>Lorem ipsum</p>
          </div>

      </div>
  </main>
<% include footer %>
