/** === TABLE OF CONTENTS ===

*/

/* — General styling and layout —*/
body {
  font-family: 'helvetica', sans-serif;
  line-height: 1.4em;
}

main {
  display: grid;
  grid-template-columns: repeat(18,1fr);
  height: fit-content;
}

.featured {
  grid-column: 1/19;
  height: 70vh;
  background-image: url(../img/banner_cuphead_1920x600.jpg);
  background-size: 100% 100%;
}

.spotlight {
  grid-column: 3/16;
  height: fit-content;
}

.spotlight-items {
  display: flex;
  justify-content: space-between;
  margin: 25px 5%;
}

.popular {
  grid-column: 1/19;
  height: 100vh;
  background: pink;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.popular-column {
  width: 25%;
  border: 1px solid red;
}

.subscribe {
  grid-column: 4/16;
  height: 65vh;
  display: grid;
  grid-template-columns: 80% 20%;
}

.subscribe-column {
  width: 50%;
  border: 1px solid red;
}

.item {
  width: 250px;
  height: 250px;
  border: 1px solid red;
}

.skew {
  background:#38467f;
	transform:skewY(-8deg);
	position:relative;
	width:100%;
}

.unskew {
  transform:skewY(8deg);
}

/*2. HEADER AND FOOTER*/
header {
  display: grid;
  grid-template-columns: 10% 40% 45%;
  padding: 20px;
  margin: 0 10%;
}

footer {
  height: auto;
  background: #4F4F4F;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
}

.footer-nav div {
  width: 15%;
  border:1px solid red;
}

.copyright {
  background: #5c5858;
  padding: 10px;
}

/*3. HEADINS AND PARAGRAPHS*/
h1 {
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
}

h2 {
  font-size: 2.5em;
  color: #cc2f62;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 75px;
}

h3 {
  font-size: 2em;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

p {
  font-size: 1.2em;
}


footer p {
  font-size: 0.9em;
  color: #a7a2a2;
}

.fa-bars {
  font-size: 1.5em;
  color: #ffffff;
}

/*LINKS AND IMAGES*/
header a {
  width: fit-content;
  margin-top: -22px;
}

header a>img {
  width: 70px;
}

a.navlink {
  color: #cc2f62;
  text-decoration: none;
  margin-right: 15px;
  display: inline;
}

.hamburger {
  color: white;
  display: none;
  cursor: pointer;
}

.tray {
  text-align: right;
}

.tray i {
  font-size: 1.5em;
}

.fa-search {
  margin-right: 5em !important;
}

.newlie-button {
  margin-left: 2em;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1045px) {
  h2 {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 831px) {
  h2 {
    font-size: 1.5em;
  }
  .hamburger {
    font-size: 2em;
    display: inline;
    position: relative;
    bottom: 42px;
    float: right;
  }
  #navmenu {
    bottom: 40px;
  }
  .responsive {
    width: 80%;
    font-size: 1.5em;
    background-color: #000000;
    display: block !important;
    margin-right: 60px !important;
    padding: 25px 19%;
    text-align: center;
  }
  a.responsive:first-child {
    margin-top: 40px !important;
  }
  a.navlink {
    display: none;
  }
}
